  /* Push body content down only for header height */
  body {
    margin: 0;
    padding-top: 50px; /* header height only */
    background-color: white;
    /* background-color: rgb(242, 240, 239); */
    font-family: BBH Sans Hegarty, Arial;
  }

  .container {
    width: 100%;
    padding: 0 41px;  /* consistent space from sides */
    box-sizing: border-box;
    margin: 0 auto;
  }